.social-text{
  padding: .7rem 0;
  font-size: 1rem;

}

.social-media{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.social-icon{
  height: 46px;
  width: 46px;
  border: 1px solid #333;
  border-radius: 4px;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  transition: 0.3s;
}